* {
    padding: 0px;
    margin: 0px;
    font-size: 14px;
}

#Div_pipei select::-ms-expand， {
    display: none;
}

#Div_pipei select{
    padding-left: 1%;
    font-size: 13px;
    text-align: center;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url(Admin\Img\下拉框年级和科目未展开时.png) no-repeat scroll right center transparent;
    padding-right: 14px;
}

#huadong table {
    text-align: center;
    border-right: 1px solid #2473D1;
    border-bottom: 1px solid #2473D1;
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
}

  #huadong   table td {
        border-left: 1px solid #2473D1;
        border-top: 1px solid #2473D1;
        height: 45px;
    }

  #huadong   table tr {
        height: 40px;
    }

.tdname {
    width: 200px;
}

.tdpath {
    width: 227px;
}

.tdcaname {
    width: 140px;
}

.Video {
    position: fixed;
    top: 10%;
    left: 30%;
    width: 50%;
    height: 421px;
    display: none;
}

input[type=checkbox] {
    visibility: hidden;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0%;
    left: 0%;
    display: none;
}

input[type=radio] {
    visibility: hidden;
    height: 25.5px;
    height: 25.5px;
    position: absolute;
    top: 0%;
    left: 0%;
    display: none;
}

.chek {
    display: inline-block;
    width: 30px;
    height: 35px;
    background-image: url(Admin\Img\打勾20.png);
    margin-top: 15%;
    line-height: 30px;
    position: relative;
    left: 10%;
    top: 20%;
    background-repeat: no-repeat;
}

.cheks {
    display: inline-block;
    width: 30px;
    height: 35px;
    background-image: url(Admin\Img\打勾20.png);
    margin-top: 15%;
    line-height: 30px;
    position: relative;
    left: 10%;
    top: 20%;
    background-repeat: no-repeat;
}

.rechek {
    display: inline-block;
    width: 20px;
    height: 30px;
    background: url(Admin\Img\打勾白色16.png) no-repeat;
    line-height: 30px;
    position: relative;
    left: 2%;
    top: 17px;
}

#Video {
    background-color: #5AA6F4;
    border-bottom: 5px solid #5AA6F4;
    border-left: 5px solid #5AA6F4;
    border-right: 5px solid #5AA6F4;
    margin: 20px 0px 20px 0px;
}

.But {
    margin-left: 86%;
}

.But_Video {
    width: 71px;
    height: 31px;
    background-color: #0F65CC;
    border: 1px solid #0F65CC;
    border-radius: 5px;
    color: #F2F2F2;
}

.But_pipei {
    width: 65px;
    height: 25px;
    background-color: #0F65CC;
    border: 1px solid #0F65CC;
    border-radius: 5px;
    color: #F2F2F2;
}

#TxtName {
    margin-left: 18px;
    padding-left: 1%;
    font-size: 12px;
    line-height: 20px;
    height: 22px;
    width: 260px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #699DEC;
    
}

#Button4 {
    font-size: 12px;
    margin-left: 2%;
    height: 25.5px;
    width: 75px;
    background-color: #0F65CC;
    border: none;
    border-radius: 5px;
    color: #F2F2F2;
}

#Button3 {
    font-size: 12px;
    position: relative;
    left: -0.5%;
    width: 80px;
    top: 10%;
    margin-left: -1%;
    height: 22px;
    background-color: #0F65CC;
    border: 1px solid #0F65CC;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #F2F2F2;
}

#Button1 {
    font-size: 12px;
    margin-left: 1%;
    height: 25.5px;
    width: 75px;
    background-color: #0F65CC;
    border: 1px solid #0F65CC;
    border-radius: 5px;
    color: #F2F2F2;
}

#CheckBox3 {
    margin-left: 2%;
}

#pgServer {
    position: absolute;
    top: 650px;
    left: 20%;
    width: 100%;
}

#huadong {
    text-align: center;
    margin-top: 10px;
    margin-left: 1%;
    width: 99%;
    overflow: auto;
    overflow-y:hidden;
    scrollbar-face-color: #0F65CC;
    min-width:1117px;
}

#Video_top {
    border-top: 5px solid #5AA6F4;
    border-left: 5px solid #5AA6F4;
    border-right: 5px solid #5AA6F4;
    background: #FFFFFF;
    width: 82%;
    height: 35px;
    position: relative;
    top: 12.3%;
}

#Close {
    position: absolute;
    right: 1.3%;
    top: 6.2%;
    width: 40px;
    height: 33px;
    z-index: 100;
}

.yulan {
    margin-left: 10%;
}

#tishi {
    width: 60px;
    height: 100px;
    position: fixed;
    right: 20px;
    top: 30%;
    background-color: #99CE84;
}

.nianji {
    width: 125px;
    height: 25px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid #699DEC;
}

#Div_alter {
    display: none;
    position: fixed;
    left: 30%;
    top: 20%;
    width: 40%;
    height: 350px;
    background: url(Admin\Img\提示信息栏478x314.png) no-repeat;
    background-size: 100% 100%;
}

#Div_alert_count {
    border: 1px solid #0f65cc;
    background-color: #f5f5f5;
    text-align: center;
    margin-top: 10%;
    position: absolute;
    left: 2.5%;
    height: 69%;
    width: 95%;
    overflow: auto;
    scrollbar-face-color: #0F65CC;
}

#alert_but {
    background: url(Admin\Img\确定.png) no-repeat;
    background-size: 100% 100%;
    width: 90px;
    height: 30px;
    border: none;
    position: relative;
    top: 88%;
    left: 40%;
}

#Div_alter p {
    border-bottom: 1px solid #0f65cc;
}

.SelSuName {
    width: 105px;
    height: 25px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid #699DEC;
}

.Select1 {
    margin-left: 10px;
    width: 180px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #699DEC;
}

.input {
    font-size: 12px;
    margin-left: 1%;
    height: 25.5px;
    width: 60px;
    background-color: #0F65CC;
    border: 1px solid #0F65CC;
    border-radius: 5px;
    color: #F2F2F2;
}

.chespan {
    margin-top: 20%;
    padding: 5px 0px 5px 0px;
    margin-left: 2%;
    height: 30px;
    width: 65px;
    background-color: #0F65CC;
    border: none;
    border-radius: 5px;
    color: #F2F2F2;
}
#Page {
            margin-left: 1%;
    height: 50px;
    margin-top: -35px;
        }
